{% include "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="form-group-lg container">
        {% if form %}
            <div class="row">
                <h2>Do you want to know your dog's breed?</h2>
                <p>
                    This is a demo for image classification using Convolutional Neural Networks (CNN).
                    For this classification I use transfer learning with the Resnet50 model.
                    </span>Given an input image, the model classifies it into one of 133 different dog breeds
                    The code is available in <span><a href="https://github.com/carogomezt/datascience_final_project">this</a> </span> Github repo.
                </p>
            </div>
            {{ wtf.quick_form(form) }}
        {% endif %}
     </div>

    {% if file_url %}
    <div class="container">
        <div class="row">
            <h2>Classification Result</h2>
            <p>
                The uploaded image and the classification results are shown below.
            </p>

            <div class="col-md-6">
                <img src="{{file_url}}" class="img-fluid img-thumbnail">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2> The predicted breed is: {{prediction}} </h2>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Go Back</a>
    </div>

    {% endif %}
{% endblock %}